<form [formGroup]="addproduct" (ngSubmit)="createProduct()">
  <div class="flex flex-wrap global-div p-5">
    <div class="w-full mb-4">
      <h3 class="text-2xl font-semibold text-center text-[#4b49ac] mb-3">Add Product Information</h3>
      <hr class="text-[#4b49ac]">
    </div>
    <div class="md:w-1/2 w-full mb-3">
      <label for="name">Product Name *</label>
      <div class="md:w-1/2 w-2/3">
        <input pInputText pSize="small" id="name" autocomplete="off" type="text" formControlName="name"
          class="w-full">
        @if (submit && addproduct.get('name')?.invalid) {
        <small style="color: red;">Name is required</small>
        }
      </div>
    </div>

    <div class="md:w-1/2 w-full mb-3">
      <label for="price">Product Price *</label>
      <div class="md:w-1/2 w-2/3">
        <input pInputText pSize="small" id="price" autocomplete="off" type="text" formControlName="price"
          class="w-full">
        @if (submit && addproduct.get('price')?.invalid) {
        <small style="color: red;">Price is required</small>
        }
      </div>
    </div>

    <div class="md:w-1/2 w-full mb-3">
      <label for="quantity">Product Quantity</label>
      <div class="md:w-1/2 w-2/3">
        <input pInputText pSize="small" id="quantity" autocomplete="off" type="text" formControlName="quantity"
          class="w-full">
      </div>

    </div>

    <div class="md:w-1/2 w-full mb-3">
      <label id="supplierLabel" >Select Supplier</label>
      <div>
        <p-select [options]="suppliers" inputId="supplierId" optionLabel="name" formControlName="supplierId"
          [filter]="true" filterBy="name" optionValue="id" placeholder="Select a Supplier"></p-select>
      </div>
    </div>
    <div class="md:w-1/2 w-full mb-3">
      <button class="global-button">Add Product</button>
    </div>
    <div class="md:w-1/2 w-full mb-3">
      <p-messages [value]="msg"></p-messages>
    </div>
  </div>
</form>