<form [formGroup]="register" (ngSubmit)="registerUser()" class="w-full flex justify-center pt-10">
    <div class="containerr w-full mx-3 md:w-2/3 px-5">
        <div class="my-4">
            <p class="text-2xl text-center second-color font-bold">Let’s Get Started!</p>
        </div>
        <div class="mb-4">
            <p class="text-sm text-center WhiteC">Create your account and take control of inventory from day
                one.</p>
        </div>
        <div class="my-6">
            
            <div class="w-full">
                <input pInputText pSize="small" id="email" autocomplete="off" type="text" formControlName="email"
                    class="w-full" placeholder="Enter your Email">
                @if (submit && register.get('email')?.invalid) {
                <small style="color: red;">Email is required</small>
                }
            </div>
        </div>
        <div class="my-6">
            
            <div class="w-full">
                <input pInputText pSize="small" id="userName" autocomplete="off" type="text" formControlName="userName"
                    class="w-full" placeholder="Enter your Username">
                @if (submit && register.get('userName')?.invalid) {
                <small style="color: red;">UserName is required</small>
                }
            </div>
        </div>
        <div class="my-6">
           
            <div class="w-full">
                <input pInputText pSize="small" id="password" autocomplete="off" type="text" formControlName="password"
                    class="w-full" placeholder="Enter Your Password">
                @if (submit && register.get('password')?.invalid) {
                <small style="color: red;">Password is required</small>
                }
            </div>
        </div>
        <div class="my-6">
            
            <div class="w-full">
                <input pInputText pSize="small" id="confirmPassword" autocomplete="off" type="text"
                    formControlName="confirmPassword" class="w-full" placeholder="Confirm Your Password">
                @if (submit && register.get('confirmPassword')?.invalid) {
                <small style="color: red;">Password is not matched</small>
                }
            </div>
        </div>
         @if(err){
            @for (e of err; track err) {
            <small style="color: red;" class="justify-start flex font-semibold "><span>&bull;</span>{{e}}</small>
            }
        }
        <div class="my-6">
            <button class="login-button">Register Now</button>
        </div>
        <div class="mb-10 flex justify-center ">
            <a routerLink="/login" class="text-sm WhiteC  hover:underline">Back To Login</a>
        </div>
    </div>
</form>