<section class="placeholder-page WhiteC" aria-labelledby="about-page-heading">
  <span class="material-symbols-outlined second-color" style="font-size:48px;" aria-hidden="true">info</span>
  <h1 id="about-page-heading" class="gradient-heading">About Harvora ERP</h1>
  <p>This page is coming soon. We're working on it!</p>
  <a routerLink="/" class="global-button" style="margin-top:16px;">
    <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>&nbsp;Back to Home
  </a>
</section>
