<h2 class="text-center text-semibold text-3xl WhiteC">Suppliers</h2>
<div class="flex flex-wrap global-div mt-4 p-4">
    <div class="w-full">
        <div class="flex justify-center">
            <div class="global-search m-3">
                <i class="pi pi-search"></i>
                <input type="text" (input)="dt?.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search" />
            </div>
        </div>
        <p-table #dt [value]="suppliers().items" [globalFilterFields]="['name']" [paginator]="true" [rows]="10"
            [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5,10,20]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Supplier Name</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supplier>
                <tr>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.contact}}</td>
                      <td>
                        <a class="me-3" routerLink=""><span class="material-symbols-outlined second-color">edit</span></a>
                        <button (click)="deleteSupplier(supplier.id)"><span class="material-symbols-outlined second-color">delete</span></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>