<form [formGroup]="addproduct" (ngSubmit)="createProduct()">
  <div class="flex flex-wrap global-div p-5">
    <div class="w-full mb-4">
      @if (isEditMode()) {
        <input id="id" autocomplete="off" type="hidden" formControlName="id">
        <h3 class="text-2xl font-semibold text-center second-color mb-3">Edit Product Information</h3>
      }@else{
        <h3 class="text-2xl font-semibold text-center second-color mb-3">Add Product Information</h3>
      }
      <hr class="second-color">
    </div>
    <div class="lg:w-1/2 w-full mb-3">
      <label for="name" class="required">Product Name </label>
      <div class="lg:w-1/2 w-2/3">
        <input pInputText pSize="small" id="name" autocomplete="off" type="text" formControlName="name"
          class="w-full">
        @if (submit && addproduct.get('name')?.invalid) {
        <small style="color: red;">Name is required</small>
        }
      </div>
    </div>

    <div class="lg:w-1/2 w-full mb-3">
      <label for="price" class="required">Product Price </label>
      <div class="lg:w-1/2 w-2/3">
        <input pInputText pSize="small" id="price" autocomplete="off" type="text" formControlName="price"
          class="w-full">
        @if (submit && addproduct.get('price')?.invalid) {
        <small style="color: red;">Price is required. Enter in Valid Format.</small>
        }
      </div>
    </div>

    <div class="lg:w-1/2 w-full mb-3">
      <label for="quantity">Product Quantity</label>
      <div class="lg:w-1/2 w-2/3">
        <input pInputText pSize="small" id="quantity" autocomplete="off" type="text" formControlName="quantity"
          class="w-full">
      </div>

    </div>

    <!-- <div class="lg:w-1/2 w-full mb-3">
      <span class="WhiteC">Select Supplier</span>
      <div>
        <p-select [options]="suppliers()" inputId="supplierId" optionLabel="name" formControlName="supplierId"
          [filter]="true" filterBy="name" optionValue="id" placeholder="Select a Supplier" [showClear]="true"></p-select>
      </div>
    </div> -->

    <div class="lg:w-1/2 w-full mb-3">
      <span class="WhiteC">Select Supplier</span>
      <div>
        <p-autoComplete 
        (completeMethod)="SearchSuppliers($event)"
        inputId="supplierId" 
        optionLabel="name" 
        formControlName="supplierId"
        [dropdown]="true"
        [suggestions]="suppliers()"
        optionValue="id" 
        placeholder="Write 3 Characters " 
        [showClear]="true"
        ></p-autoComplete>
      </div>
    </div>

    <div class="lg:w-1/2 w-full mb-3">
      @if (isEditMode()) {
        <button class="global-button">Updtae Product</button>
      }@else {
        <button class="global-button">Add Product</button>
      }
    </div>
    
  </div>
</form>
