<form [formGroup]="addSupplier" (ngSubmit)="createSupplier()">
  <div class="flex flex-wrap global-div p-5">
    <div class="w-full mb-4">
      <h3 class="text-2xl font-semibold text-center second-color mb-3">Add Supplier Information</h3>
      <hr class="second-color">
    </div>
    <div class="md:w-1/2 w-full mb-3">
      <label for="name">Supplier Name *</label>
      <div class="md:w-1/2 w-2/3">
        <input pInputText pSize="small" id="name" autocomplete="off" type="text" formControlName="name"
          class="w-full">
        @if (submit && addSupplier.get('name')?.invalid) {
        <small style="color: red;">Name is required</small>
        }
      </div>
    </div>

    <div class="md:w-1/2 w-full mb-3">
      <label for="contact">Contact</label>
      <div class="md:w-1/2 w-2/3">
        <input pInputText pSize="small" id="contact" autocomplete="off" type="text" formControlName="contact"
        class="w-full">
      </div>
    </div>
    <div class="md:w-1/2 w-full mb-3">
      <button class="global-button">Add Supplier</button>
    </div>
  </div>
</form>
<p-toast position="top-center" [baseZIndex]="9999" />