<!-- COA Create Form -->
<form (ngSubmit)="createCOA($event)">
    <div class="flex flex-wrap global-div p-5">
        <div class="w-full mb-4">
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Add Chart of Account</span>
            </h3>
            <hr class="second-color">
        </div>
        <div class="w-full mb-3">
            <div class="lg:w-1/2 w-full">
                <p class="note-banner">Opening balance is not allowed for Income/Expense accounts</p>
            </div>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="name" autocomplete="off" type="text" class="w-full"
                        [formField]="coaForm.name">
                    <label for="name">Name</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="coaForm.name" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="coaModel().parentId" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onParentChange($event)" [options]="coaList()" optionLabel="displayName"
                        optionValue="id" class="w-full" inputId="parentId" [showClear]="true" [filter]="true"
                        filterBy="displayName" />
                    <label for="parentId">Select Parent</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="coaForm.parentId" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="coaModel().kind" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('kind',$event)" [options]="accoundKind()" optionLabel="name"
                        optionValue="value" class="w-full" />
                    <label for="kind">Account Kind</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="coaForm.kind" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="coaModel().category" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('category',$event)" [options]="accountType()" optionLabel="name"
                        optionValue="value" class="w-full" [readonly]="true" />
                    <label for="category">Account Type</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="coaForm.category" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        @if(isPermanentLedger()) {
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="openingBalance" autocomplete="off" type="number" class="w-full"
                        [formField]="coaForm.openingBalance">
                    <label for="openingBalance">Opening balance</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="coaForm.openingBalance" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        }

        <div class="w-full flex justify-center m-3">
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Add Chart of Account' }}
            </button>
        </div>
    </div>
</form>