<div class="flex h-screen">
  <aside class=" text-white p-2 sidebar" [ngClass]="{collapsed: isCollapsed}">
    <div class="flex justify-between items-center mb-4 ">
      @if (!isCollapsed ) {
      <h5>Inventory</h5>
      }
      <a class="text-white btnhover nav-link" (click)="toogleSidebar()"><i class="pi pi-list " style="font-size: 21px;" ></i></a>
    </div>
    <hr>
    @if (!isMobile) {
    <nav class="flex-col items-center mt-4 ">
      <a class="flex nav-link text-white" routerLink="/dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" (click)="onSelectMobile()">
        <i class="pi pi-chart-bar"></i>
        @if (!isCollapsed) {
        <span class="custom">DashBoard</span>
        }
      </a>
      <a class="nav-link text-white flex justify-between cursor-pointer" (click)="toogleDropdown('Product')" 
        [ngClass]="{'active': isCollapsed && isActiveGroup('Product')}">
        <div>
          <i class="pi pi-box"></i>
        @if (!isCollapsed) {
        <span class="custom" >Product</span>
        }
        </div>
        @if (!isCollapsed) {
          <i class="pi mt-1" [ngClass]="{'pi-caret-down': !isProductDropdown,'pi-caret-up': isProductDropdown}"></i>
        }
      </a>
      @if (!isCollapsed && isProductDropdown) {
      <div class="ps-3">
        <a class="nav-link text-white flex items-center " (click)="onSelectMobile()" routerLink="/addproduct" routerLinkActive="active">
          <i class="pi pi-angle-right"></i>
          @if (!isCollapsed) {
          <span class="custom-dropdown">Add Product</span>
          }
        </a>
      </div>
      <div class="ps-3">
        <a class="nav-link text-white flex items-center " (click)="onSelectMobile()" routerLink="/products" routerLinkActive="active">
          <i class="pi pi-angle-right"></i>
          @if (!isCollapsed) {
          <span class="custom-dropdown">Product List</span>
          }
        </a>
      </div>
      }
      <a class="nav-link text-white flex justify-between cursor-pointer" (click)="toogleDropdown('Supplier')"
        [ngClass]="{'active': isCollapsed && isActiveGroup('Supplier')}" >
        <div>
          <i class="pi pi-user"></i>
        @if (!isCollapsed) {
        <span class="custom">Supplier</span>
        }
        </div>
        @if (!isCollapsed) {
          <i class="pi mt-1" [ngClass]="{'pi-caret-down': !isSupplierDropdown,'pi-caret-up': isSupplierDropdown}"></i>
        }
      </a>
      @if (!isCollapsed && isSupplierDropdown) {
      <div class="ps-3">
        <a class="nav-link text-white flex items-center " (click)="onSelectMobile()" routerLink="/addsupplier" routerLinkActive="active">
          <i class="pi pi-angle-right"></i>
          @if (!isCollapsed) {
          <span class="custom-dropdown">Add Supplier</span>
          }
        </a>
      </div>
      <div class="ps-3">
        <a class="nav-link text-white flex items-center " (click)="onSelectMobile()" routerLink="/suppliers" routerLinkActive="active">
          <i class="pi pi-angle-right"></i>
          @if (!isCollapsed) {
          <span class="custom-dropdown">Supplier List</span>
          }
        </a>
      </div>
      }
    </nav>
    }
  </aside>

  <main class="flex-grow-1 pt-md-4 p-4 main" [ngClass]="{collapsed: isCollapsed}">
    <router-outlet></router-outlet>
  </main>
</div>