<form [formGroup]="addSupplier" (ngSubmit)="createSupplier()">
  <div class="row global-div">
    <div style="color: #4b49ac; text-align: center;">
      <h3>Add Supplier Information</h3>
      <hr>
    </div>
    <div class="col-md-6 mb-3">
      <label for="name" class="mb-2">Supplier Name *</label>
      <div class="col-8">
        <input pInputText pSize="small" id="name" autocomplete="off" type="text" formControlName="name"
          class="form-control">
        @if (submit && addSupplier.get('name')?.invalid) {
        <small style="color: red;">Name is required</small>
        }
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="contact" class="mb-2">Contact</label>
      <div class="col-8">
        <input pInputText pSize="small" id="contact" autocomplete="off" type="text" formControlName="contact"
        class="form-control">
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <button class="global-button">Add Supplier</button>
    </div>
    <div class="col-md-6 mb-3">
      <p-messages [value]="msg"></p-messages>
    </div>
  </div>
</form>