.gradient{
background-color: var(--divBackgound);

}
.navbar{
    background: transparent;

    border-bottom: 2px solid var(--MainColour);
}
.logo{
  height: 50px;
  width: 50px;
}
ul::before{
    content: '• ';
}
.heading{
    background-color: var(--MainColour) ;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    align-items: center;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
