<div class="flex min-h-screen gradient">
  <div class="lg:w-1/2 w-full ">
    <nav class="w-full bg-white flex justify-evenly items-center py-2 navbar">
      <div>
        <a href="" class="font-semibold WhiteC">About Us</a>
      </div>
      <div>
        <img src="/Logo.png" alt="Inventory Management System Logo" class="logo">
      </div>
      <div>
        <a href="" class="font-semibold WhiteC">Contact Us</a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="hidden md:flex md:w-1/2">
    <img src="/medium2.png" alt="Inventory Banner" class="w-full h-full  object-cover">
  </div> -->
  <div class="hidden lg:flex lg:w-1/2 pl-5 pt-20 globalBg border-l-1 border-black">
    <div class="w-full">
      <div class="heading">
        <p>Smarter Inventory
          <br>
          Smarter Business
        </p>
      </div>
      <div class="flex">
        <div class="rounded-full aspect-square shrink-0 h-[200px] w-[200px] overflow-hidden border-2 second-color flex justify-center items-center">
          <div class="rounded-full shrink-0 aspect-square h-[170px] w-[170px] overflow-hidden border-2 ">
            <img src="/Inventory.png" alt="" class="h-full w-full object-cover">
          </div>
        </div>
        <div class="second-color font-mono font-semibold text-sm ">
          <ul class="mt-4">SALES AND PURCHASE INTEGRATION</ul>
          <ul class="mt-7 pl-4">INSTANT ALERTS AND REPORTS</ul>
          <ul class="mt-7 pl-4">CENTRALIZED INVENTORY DASHBOARD</ul>
          <ul class="mt-7">CLEAN, INTUITIVE INTERFACE</ul>
        </div>
      </div>
      <div class="bottom-tagline">
        <p class="tagline-main">Save Hours Every Week. Every Number Tells a Story --</p>
        <p class="tagline-sub">We Help, You Read it.</p>
      </div>
    </div>

  </div>
</div>