<div class="flex LayoutHeight">
  <aside class=" px-2 sidebar" [ngClass]="{collapsed: isCollapsed()}">
    <div class="sidebar-header ">
      @if (!isCollapsed() ) {
      <a routerLink="/modules">
        <h5 class=" font-bold">
          <span class="gradient-heading">Inventory</span>
        </h5>
      </a>
      }
      <a class="btnhover nav-link second-color block lg:hidden" (click)="toogleSidebar()">
        <span class="material-symbols-outlined">menu</span>
      </a>
      <a class="btnhover nav-link hidden lg:block" style="cursor: pointer;" (click)="toogleSidebar()">
        <span class="material-symbols-outlined">menu</span>
      </a>
    </div>
    @if (!isMobile()) {
    <nav class="mt-4 sidebar-menu">
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li>
          <a class="flex nav-link" routerLink="/Inventory/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" (click)="onSelectMobile()">
            <span class="material-symbols-outlined">bar_chart</span>
            @if (!isCollapsed()) {
            <span class="custom">DashBoard</span>
            }
          </a>
        </li>

        <li>
          <a class="nav-link flex justify-between items-center cursor-pointer" (click)="toogleDropdown('Product')"
            [ngClass]="{'active': isCollapsed() && isActiveGroup('Product')}">
            <div class="flex items-center">
              <span class="material-symbols-outlined">inventory_2</span>
              @if (!isCollapsed()) {
              <span class="custom">Product</span>
              }
            </div>
            @if (!isCollapsed()) {
            <span class="material-symbols-outlined">{{isProductDropdown()? 'expand_less':'expand_more'}}</span>
            }
          </a>
          @if (!isCollapsed() && isProductDropdown()) {
          <ul style="list-style: none; padding: 0; margin: 0;">
            <li class="ps-3">
              <a class="nav-link  flex items-center " (click)="onSelectMobile()" routerLink="/Inventory/addproduct"
                routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Add Product</span>
                }
              </a>
            </li>
            <li class="ps-3">
              <a class="nav-link  flex items-center " (click)="onSelectMobile()" routerLink="/Inventory/products"
                routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Product List</span>
                }
              </a>
            </li>
            <li class="ps-3">
              <a class="nav-link  flex items-center " (click)="onSelectMobile()"
                routerLink="/Inventory/addproductcategory" routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Add Product Categories</span>
                }
              </a>
            </li>
            <li class="ps-3">
              <a class="nav-link  flex items-center " (click)="onSelectMobile()"
                routerLink="/Inventory/productcategorieslist" routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Product Categories List</span>
                }
              </a>
            </li>
            <li class="ps-3">
              <a class="nav-link  flex items-center " (click)="onSelectMobile()"
                routerLink="/Inventory/productcategoriestree" routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Product Categories Tree</span>
                }
              </a>
            </li>
          </ul>
          }
        </li>

        <li>
          <a class="nav-link flex justify-between cursor-pointer" (click)="toogleDropdown('Supplier')"
            [ngClass]="{'active': isCollapsed() && isActiveGroup('Supplier')}">
            <div class="flex items-center">
              <span class="material-symbols-outlined">person</span>
              @if (!isCollapsed()) {
              <span class="custom">Supplier</span>
              }
            </div>
            @if (!isCollapsed()) {
            <span class="material-symbols-outlined">{{isSupplierDropdown()?'expand_less':'expand_more'}}</span>
            }
          </a>
          @if (!isCollapsed() && isSupplierDropdown()) {
          <ul style="list-style: none; padding: 0; margin: 0;">
            <li class="ps-3">
              <a class="nav-link flex items-center " (click)="onSelectMobile()" routerLink="/Inventory/addsupplier"
                routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Add Supplier</span>
                }
              </a>
            </li>
            <li class="ps-3">
              <a class="nav-link flex items-center " (click)="onSelectMobile()" routerLink="/Inventory/suppliers"
                routerLinkActive="active">
                <span class="material-symbols-outlined">chevron_right</span>
                @if (!isCollapsed()) {
                <span class="custom-dropdown">Supplier List</span>
                }
              </a>
            </li>
          </ul>
          }
        </li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <div class="nav-link">
        <button (click)="ConifmationLogout()">
          <span class="material-symbols-outlined ps-3">logout</span>
          @if (!isCollapsed()) {
          <span class="custom">Logout</span>
          }
        </button>
      </div>

    </div>
    }
  </aside>

  <main class="flex-grow-1 main" [ngClass]="{collapsed: isCollapsed()}">
    <div class="mainbar flex items-center justify-between">
      <div>
        <button (click)="ChangeTheme()">
          <span class="material-symbols-outlined">{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}
          </span></button>
      </div>
      <div>
        <img src="/Logo.png" alt="Inventory Management System Logo" class="logo">
      </div>
      <div>
        <button (click)="toggleNotifications()" class="relative">
          <span class="material-symbols-outlined">notifications</span>

          <!-- Badge — only shows when unread count > 0 -->
          @if (notifState.unreadCount() > 0) {
          <span class="notif-badge">
            {{ notifState.unreadCount() > 99 ? '99+' : notifState.unreadCount() }}
          </span>
          }
        </button>
      </div>
    </div>
    <div class="p-4 main-content">
      <router-outlet></router-outlet>
    </div>
    @if (showNotifications()) {
    <app-notifications (close)="toggleNotifications()"> </app-notifications>
    }
  </main>
</div>