<!-- (Instructions Buttons) -->

<div class="w-full grid grid-cols-2 lg:flex lg:justify-end lg:items-center mb-4 gap-2">
    <button type="button" class="blog-button flex items-center justify-center whitespace-nowrap"
        routerLink="/Docs/ProductCategoriesDocs">
        <span class="material-symbols-outlined mr-1">article</span>
        Read Instructions
    </button>
</div>
<form (ngSubmit)="createProductCategories($event)">
    <div class="flex flex-wrap global-div p-5">
        <div class="w-full mb-4">
            @if(isEditMode()){
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Edit Product Categories</span>
            </h3>
            }@else{
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Add Product Categories</span>
            </h3>
            }
            <hr class="second-color">
        </div>
        <div class="w-full mb-3">
            <div class="lg:w-1/2 w-full">
                <p class="note-banner">Read Instructions to know how it works.</p>
            </div>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="name" autocomplete="off" type="text" class="w-full"
                        [formField]="productCategoriesForm.name">
                    <label for="name">Name</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="productCategoriesForm.name" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="code" autocomplete="off" type="text" class="w-full"
                        [formField]="productCategoriesForm.code">
                    <label for="code">Code</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="productCategoriesForm.code" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="description" autocomplete="off" type="text" class="w-full"
                        [formField]="productCategoriesForm.description">
                    <label for="description">Description</label>
                </div>
            </p-floatLabel>

        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="productCategoriesModel().parentCategoryId"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="updateField('parentCategoryId',$event)"
                        [options]="productCategoriesList()" optionLabel="displayName" optionValue="id" class="w-full"
                        inputId="parentId" [showClear]="true" [filter]="true" filterBy="displayName" />
                    <label for="parentId">Parent Category</label>
                </div>
            </p-floatLabel>
        </div>
        @if(isEditMode()){
        <div class="lg:w-1/4 w-full mb-3 flex items-center gap-2">
            <input id="isActive" type="checkbox" [formField]="productCategoriesForm.isActive" class="w-auto" />
            <label for="isActive" class="mb-0 !text-lg font-medium gradient-heading">Active</label>
        </div>
        }
        <div class="w-full">
            <div class="w-full mt-3">
                <h4 class="text-lg font-semibold mb-5 float-left">
                    <span>Accounting Information</span>
                </h4>
            </div>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-10/12 w-full">
                    <p-autoComplete [(ngModel)]="productCategoriesModel().selectedInventoryAccount"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('inventoryAccountId',$event?.id ?? null)"
                        (completeMethod)="SearchDropDown($event,inventoryAccountSearch.searchterm)"
                        inputId="inventoryAccountId" optionLabel="name" [dropdown]="true"
                        [suggestions]="inventoryAccountList()" [showClear]="true" class="w-full"></p-autoComplete>
                    <label for="inventoryAccountId">Inventory Account</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-10/12 w-full">
                    <p-autoComplete [(ngModel)]="productCategoriesModel().selectedSalesAccount"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('salesAccountId',$event?.id ?? null)"
                        (completeMethod)="SearchDropDown($event,salesAccountSearch.searchterm)" inputId="salesAccountId"
                        optionLabel="name" [dropdown]="true" [suggestions]="salesAccountList()" optionValue="id"
                        [showClear]="true" class="w-full"></p-autoComplete>
                    <label for="salesAccountId">Sales Account</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-10/12 w-full">
                    <p-autoComplete [(ngModel)]="productCategoriesModel().selectedCostOfGoodsSoldAccount"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('costOfGoodsSoldAccountId',$event?.id ?? null)"
                        (completeMethod)="SearchDropDown($event,costOfGoodsSoldAccountSearch.searchterm)"
                        inputId="costOfGoodsSoldAccountId" optionLabel="name" [dropdown]="true"
                        [suggestions]="costOfGoodsSoldAccountList()" [showClear]="true" class="w-full"></p-autoComplete>
                    <label for="costOfGoodsSoldAccountId">COGS Account</label>
                </div>
            </p-floatLabel>
        </div>


        <div class="w-full flex justify-center m-3">
            @if(isEditMode()){
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Update Product Categories' }}
            </button>
            }@else{
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Create Product Categories' }}
            </button>
            }
        </div>
    </div>

</form>