<form (ngSubmit)="createDepartment($event)">
    <div class="flex flex-wrap global-div p-5">
        <div class="w-full mb-4">
            @if(isEditMode()){
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Edit Department</span>
            </h3>
            }@else{
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Add Department</span>
            </h3>
            }
            <hr class="second-color">
        </div>

        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="name" autocomplete="off" type="text" class="w-full"
                        [formField]="departmentForm.name">
                    <label for="name" class="required">Name</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="departmentForm.name" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="code" autocomplete="off" type="text" class="w-full"
                        [formField]="departmentForm.code">
                    <label for="code" class="required">Code</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="departmentForm.code" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="description" autocomplete="off" type="text" class="w-full"
                        [formField]="departmentForm.description">
                    <label for="description">Description</label>
                </div>
            </p-floatLabel>
        </div>


        @if(isEditMode()){
        <div class="lg:w-1/4 w-full mb-3 flex items-center gap-2">
            <input id="isActive" type="checkbox" [formField]="departmentForm.isActive" class="w-auto" />
            <label for="isActive" class="mb-0 !text-lg font-medium gradient-heading">Active</label>
        </div>
        }


        <div class="w-full flex justify-center m-3">
            @if(isEditMode()){
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Update Department' }}
            </button>
            }@else{
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Create Department' }}
            </button>
            }
        </div>
    </div>

</form>