<!-- BRV Create Form -->
<form (ngSubmit)="createBRV($event)">
    <div class="flex flex-wrap global-div p-5">
        <div class="w-full mb-4">
            <h3 class="text-2xl font-semibold text-center mb-3">
                <span class="gradient-heading">Add Bank Receipt Voucher</span>
            </h3>
            <hr class="second-color">
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="bankJournalModel().voucherType" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('voucherType',$event)" [options]="voucherTypes()"
                        optionLabel="name" optionValue="value" class="w-full" readonly />
                    <label for="voucherType">Voucher Type</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-datepicker [(ngModel)]="bankJournalModel().postingDateUI" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('postingDateUI',$event)" view="date" dateFormat="dd/mm/yy"
                        size="small" inputId="postingDateUI" class="w-full" />
                    <label for="postingDateUI" class="required">Posting Date</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="brvForm.postingDateUI" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>

        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="narration" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.narration">
                    <label for="narration" class="required">Narration</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="brvForm.narration" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>

        <!--Bank Details-->
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="bankName" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.bankName">
                    <label for="bankName" class="required">Bank Name</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="brvForm.bankName" [submit]="formSubmitted()" [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="bankAccountNumber" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.bankAccountNumber">
                    <label for="bankAccountNumber" class="required">Account Number</label>
                </div>
            </p-floatLabel>
            <app-field-errorS [field]="brvForm.bankAccountNumber" [submit]="formSubmitted()"
                [backendErrors]="backendErrors()">
            </app-field-errorS>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="bankBranch" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.bankBranch">
                    <label for="bankBranch">Branch</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="chequeNumber" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.chequeNumber">
                    <label for="chequeNumber">Cheque Number</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-datepicker [(ngModel)]="bankJournalModel().chequeDateUI" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('chequeDateUI',$event)" view="date" dateFormat="dd/mm/yy"
                        size="small" inputId="chequeDateUI" class="w-full" />
                    <label for="chequeDateUI">Cheque Date</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <p-select [(ngModel)]="bankJournalModel().chequeStatus" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="updateField('chequeStatus',$event)" [options]="chequeStatuses()"
                        optionLabel="name" optionValue="value" class="w-full" />
                    <label for="chequeStatus">Cheque Status</label>
                </div>
            </p-floatLabel>
        </div>
        <div class="lg:w-1/4 w-full mb-3">
            <p-floatLabel variant="on">
                <div class="lg:w-8/12 w-full">
                    <input pInputText pSize="small" id="paymentMode" autocomplete="off" type="text" class="w-full"
                        [formField]="brvForm.paymentMode">
                    <label for="paymentMode">Payment Mode</label>
                </div>
            </p-floatLabel>
        </div>

        <div class="w-full mb-3">
            <div class="lg:w-1/2 w-full">
                <p class="note-banner">Enter at least 3 characters to search Account Below</p>
            </div>
        </div>

        <!-- Bank Usage Accounts -->
        <div class="w-full">
            <div class="w-full mt-3">
                <h4 class="text-lg font-semibold mb-2 float-left">
                    <span>Bank Account Line</span>
                </h4>
            </div>
        </div>

        <!-- Bank Account Line table -->
        <div class="overflow-auto">
            <table class="w-full border-collapse" style="table-layout: fixed; min-width: 1000px;">
                <thead>
                    <tr class="text-left border-b second-color">
                        <th class="p-2">Account</th>
                        <th class="p-2">Description</th>
                        <th class="p-2">Debit</th>
                        <th class="p-2">Currency</th>
                        <th class="p-2">Exchange Rate</th>
                        <th class="p-2">Reference No</th>
                        <th class="p-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b second-color">

                        <!-- Account (Banks Dropdown) -->
                        <td class="p-2 align-top">
                            <p-select [(ngModel)]="bankJournalModel().lines[0].chartOfAccountId"
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="updateLineField(0, 'chartOfAccountId', $event)"
                                [options]="bankUsageAccounts()" optionLabel="name" optionValue="id" class="w-full"
                                appendTo="body" fluid size="small" />
                            <app-field-errorS [field]="brvForm.lines[0].chartOfAccountId" [submit]="formSubmitted()"
                                [backendErrors]="backendErrors()">
                            </app-field-errorS>
                        </td>

                        <!-- Description -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="text" class="w-full"
                                [formField]="brvForm.lines[0].description">
                        </td>


                        <!-- Debit -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="number" class="w-full"
                                [formField]="brvForm.lines[0].debit">
                            <app-field-errorS [field]="brvForm.lines[0].debit" [submit]="formSubmitted()"
                                [backendErrors]="backendErrors()" [fieldPath]="'lines[0].debit'">
                            </app-field-errorS>
                        </td>

                        <!-- Currency -->
                        <td class="p-2 align-top">
                            <p-select [ngModel]="brvForm.lines[0].currencyCode" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="updateLineField(0, 'currencyCode', $event)" [options]="currencies()"
                                optionLabel="name" optionValue="code" [filter]="true" filterBy="name" class="w-full"
                                appendTo="body" size="small">
                            </p-select>
                        </td>

                        <!-- Exchange Rate -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="number" class="w-full"
                                [formField]="brvForm.lines[0].exchangeRate">
                        </td>

                        <!-- Reference No -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="text" class="w-full"
                                [formField]="brvForm.lines[0].referenceNo">
                        </td>

                        <!-- Empty for allining same design as below lines-->
                        <td class="p-2 text-center align-top">
                        </td>

                    </tr>

                </tbody>


            </table>

        </div>

        <!-- Other Accounts Lines (Credit only for BRV) -->
        <div class="w-full">
            <div class="w-full mt-3">
                <h4 class="text-lg font-semibold mb-2 float-left">
                    <span>Expense / Payment Lines</span>
                </h4>
                <!--add line button -->
                <button type="button" class="global-button float-right" (click)="addLine()">
                    <span class="material-symbols-outlined second-color">add</span> Add Line
                </button>
            </div>
        </div>

        <!-- lines table -->
        <div class="overflow-auto">
            <table class="w-full border-collapse" style="table-layout: fixed; min-width: 1000px;">
                <thead>
                    <tr class="text-left border-b second-color">
                        <th class="p-2">Account</th>
                        <th class="p-2">Description</th>
                        <th class="p-2">Credit</th>
                        <th class="p-2">Currency</th>
                        <th class="p-2">Exchange Rate</th>
                        <th class="p-2">Reference No</th>
                        <th class="p-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(line of bankJournalModel().lines; track $index) {
                    @if($index > 0) {
                    <tr class="border-b second-color">

                        <!-- Account (AutoComplete) -->
                        <td class="p-2 align-top">
                            <p-autoComplete [(ngModel)]="line.chartOfAccountId" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="updateLineField($index, 'chartOfAccountId', $event)"
                                (completeMethod)="SearchDropDown($event, nonBankCoa.searchterm)" optionLabel="name"
                                optionValue="id" [suggestions]="nonBankCoaSearchList()" [showClear]="true"
                                appendTo="body" fluid size="small">
                            </p-autoComplete>
                            <app-field-errorS [field]="brvForm.lines[$index].chartOfAccountId"
                                [submit]="formSubmitted()" [backendErrors]="backendErrors()"
                                [fieldPath]="'lines[' + $index + '].chartOfAccountId'">
                            </app-field-errorS>
                        </td>

                        <!-- Description -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="text" class="w-full"
                                [formField]="brvForm.lines[$index].description">
                        </td>

                        <!-- Credit -->
                        <td class="p-2">
                            <input pInputText pSize="small" autocomplete="off" type="number" class="w-full"
                                [formField]="brvForm.lines[$index].credit">
                            <app-field-errorS [field]="brvForm.lines[$index].credit" [submit]="formSubmitted()"
                                [backendErrors]="backendErrors()" [fieldPath]="'lines[' + $index + '].credit'">
                            </app-field-errorS>
                        </td>

                        <!-- Currency -->
                        <td class="p-2 align-top">
                            <p-select [ngModel]="line.currencyCode" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="updateLineField($index, 'currencyCode', $event)"
                                [options]="currencies()" optionLabel="name" optionValue="code" [filter]="true"
                                filterBy="name" class="w-full" appendTo="body" size="small">
                            </p-select>
                        </td>

                        <!-- Exchange Rate -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="number" class="w-full"
                                [formField]="brvForm.lines[$index].exchangeRate">
                        </td>

                        <!-- Reference No -->
                        <td class="p-2 align-top">
                            <input pInputText pSize="small" autocomplete="off" type="text" class="w-full"
                                [formField]="brvForm.lines[$index].referenceNo">
                        </td>

                        <!-- Delete -->
                        <td class="p-2 text-center align-top">
                            <button type="button" (click)="deleteLine($index)">
                                <span class="material-symbols-outlined icon-color">delete</span>
                            </button>
                        </td>

                    </tr>
                    }
                    }
                </tbody>


            </table>

        </div>

        <!-- Totals and Submit -->
        <div class="mt-3 flex flex-col items-center w-full gap-2">

            <!-- Transaction totals -->
            <div class="flex gap-6">
                <div>Debit: <strong>{{ totalDebit() }}</strong></div>
                <div>Credit: <strong>{{ totalCredit() }}</strong></div>
            </div>

            <!-- Base totals -->
            <div class="flex gap-6 text-sm text-gray-500">
                <div>Base Debit: <strong>{{ baseTotalDebit() }}</strong></div>
                <div>Base Credit: <strong>{{ baseTotalCredit() }}</strong></div>
            </div>

        </div>

        <!--Errors -->
        <div class="w-full mt-3">
            <ul class="text-red-500 text-sm font-medium pl-4">
                @if (errors()) {
                @for (e of errors(); track e) {
                <li>{{ e }}</li>
                }
                }
            </ul>
        </div>

        <!--submitting the form  -->
        <div class="w-full flex justify-center m-3">
            <button class="global-button" type="submit" [disabled]="submit()">
                {{ submit() ? 'Processing...' : 'Create Voucher' }}
            </button>
        </div>
    </div>
</form>